{% extends 'base.html' %}


{% block content %}
{% load static %}
	


      	<!-- Page info section -->
		  <section class="page-info-section set-bg" data-setbg="{% static 'img/bg.jpg' %}" style="background-image: url('{% static 'img/main/1.jpg' %}');">
			<div class="page-info-content">
				<div class="pi-inner">
					<div class="container">
						<h2>About Us</h2>
						<div class="site-breadcrumb">
							<a href="#">Home</a> <i class="fa fa-angle-right"></i>
							<span>About Us</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		<!-- About section -->
		<section class="about-section spad">
			<div class="container">
				<div class="row">
					<div class="col-md-6 about-content">
						<h2>Let's Make the World Better</h2>
						<p class="lead">For God did not send his Son into the world to condemn the world but to save the world through him.
						<p class="lead">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis<br> unde omnis iste.</p>
						<a href="" class="btn btn-primary color btn-large button">join with us</a>
						<br>
					</div>
		
					<div class="col-md-6 about-img">
						<br>
						<img src="{% static 'img/main/1.jpg' %}" width="100%" alt="">
					</div>
				</div>
			</div>
	
		<!-- About section end -->
	
		<section class="services-section spad">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="service-box">
							<h4><i class="fa fa-fire"></i>Our Values</h4>
							<p class="lead">Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
							<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="service-box">
							<h4><i class="fa fa-eye"></i>Our Vision</h4>
							<p class="lead">Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
							<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="service-box">
							<h4><i class="fa fa-heart"></i>Our Mission</h4>
							<p class="lead">Excepteur sint occaecat cupidatat non, <br> sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
							<a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	
		<!-- member -->
	
		<!-- Pastors section -->
	
			<div class="container">
				<div class="section-title">
	
					<h2>Our Team</h2>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="pastor">
							<div class="pastor-img set-bg"  data-setbg="img/pastors/1.jpg" style="background-image: url('{% static 'img/profile/1.png' %}');"></div>
							<h3>Aaron Ballance</h3>
							<p class="lead">Pastor</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pastor">
							<div class="pastor-img set-bg" data-setbg="img/pastors/2.jpg"  style="background-image: url('{% static 'img/profile/2.jpg' %}');"></div>
							<h3>Billy Graham</h3>
							<p class="lead">Lead Pastor</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pastor">
							<div class="pastor-img set-bg" data-setbg="img/pastors/3.jpg"  style="background-image: url('{% static 'img/profile/3.jpg' %}');"></div>
							<h3>Lead Pastor</h3>
							<p class="lead">Pastor</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pastor">
							<div class="pastor-img set-bg" data-setbg="img/pastors/4.jpg"  style="background-image: url('{% static 'img/profile/4.jpg' %}');"></div>
							<h3>Pat Robertson</h3>
							<p class="lead">Protestant Clergy</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	
{% endblock  %}
	